.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.box {
  width: 400px;
  height: 250px;
  border-radius: 4px;
  background: #f2f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successMessage {
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  color: #151a1e;
  margin-bottom: 17.5px;
}

.successMessage svg {
  color: green;
}

.backLink {
  font-size: 13px;
  color: #adadff;
}
